.float-right {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.float-left {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.float-container:after {
  content: " ";
  display: table;
  clear: both;
}
